{% load static %}
{% load i18n %}
<!-- <section id="" data-section="home" style="background-image: url({% static 'images/nau_01.jpeg' %});" data-stellar-background-ratio="0.5"> -->

<section id="home" data-section="home">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="to-animate">Школа яхтинга для всех</h1>
                        <h2 class="to-animate">Учимся грести на веслах...</h2>
                        <div class="call-to-action">
                            <a href="#fh5co-explore" nav-link scrollto="school" class="demo to-animate">Школа</a>
                            
                            <a href="#fh5co-team" class="download to-animate">Путешествия</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
