{% load static %}
{% load i18n %}

<section id="fh5co-interesting" data-section="interesting">
	<div class="getting-started getting-started-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6 to-animate">
					<h3>Школа яхтинга</h3>
					<p>Заинтересовались?  </p>
				</div>
				<div class="col-md-6 to-animate-2">
					<div class="call-to-action text-right">
						<a href="#fh5co-contacts" class="sign-up">Связаться с нами</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>