{% load static %}
{% load i18n %}

<section id="fh5co-explore" data-section="school">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2 class="to-animate">Школа яхтинга</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext to-animate">
                        <h3>Мы предлгагаем следующие услуги</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="fh5co-explore">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-5 to-animate-2">
                    <img class="img-responsive" src="{% static 'images/02.jpg' %}" alt="work">
                </div>
                <div class="col-md-4 col-md-pull-8 to-animate-2">
                    <div class="mt">
                        <h3>Теория</h3>
                        <p>Читаем книжки, слушаем презентации. Чай кофе печеньки включены. </p>
                        <ul class="list-nav">
                            <li><i class="icon-check2"></i>Читаем</li>
                            <li><i class="icon-check2"></i>Слушаем</li>
                            <li><i class="icon-check2"></i>Перекур</li>
                            <li><i class="icon-check2"></i>Повторить</li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="fh5co-explore fh5co-explore-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-pull-1 to-animate-3">
                    <img class="img-responsive" src="{% static 'images/01.jpg' %}" alt="work">
                </div>
                <div class="col-md-4 to-animate-3">
                    <div class="mt">
                        <div>
                            <h4><i class="icon-people"></i>Практика</h4>
                            <p>Садимся на весла и гребем</p>
                        </div>
                        <ul class="list-nav">
                            <li><i class="icon-check2"></i>Гребем</li>
                            <li><i class="icon-check2"></i>Не гребем</li>
                            <li><i class="icon-check2"></i>Командуем гребцами</li>
                            <li><i class="icon-check2"></i>А не выпить ли Рому?</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
