{% load static %}
{% load i18n %}

<section id="fh5co-team" data-section="travel">
    <div class="fh5co-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12 section-heading text-center">
                    <h2 class="to-animate">Наши путешествия</h2>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 subtext">
                            <h3 class="to-animate">Надоело грести? Предлагаем путешествия под парусом с нашим капитаном!</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="{% static 'images/01.jpg' %}" alt=""></div>
                        <h3>Карибы</h3>
                        <span class="position">Путушествие под парусом</span>
                        <p>Смотерели пираты карибского моря? У так же или даже чуть веселей!</p>
                            <a href="#" class="btn btn-select-plan btn-sm">Связаться с нами</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="{% static 'images/01.jpg' %}" alt=""></div>
                        <h3>Карибы</h3>
                        <span class="position">Путушествие под парусом</span>
                        <p>Смотерели пираты карибского моря? У так же или даже чуть веселей!</p>
                            <a href="#" class="btn btn-select-plan btn-sm">Связаться с нами</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="team-box text-center to-animate-2">
                        <div class="user"><img class="img-reponsive" src="{% static 'images/01.jpg' %}" alt=""></div>
                        <h3>Карибы</h3>
                        <span class="position">Путушествие под парусом</span>
                        <p>Смотерели пираты карибского моря? У так же или даже чуть веселей!</p>
                            <a href="#" class="btn btn-select-plan btn-sm">Связаться с нами</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
